# Fly.io configuration file
# See https://fly.io/docs/reference/configuration/

app = "ai-faq-chat"
primary_region = "sin"

[build]

[env]
  MODEL = "all-MiniLM-L6-v2"
  PORT = "8000"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory = 768
