:root {
	color-scheme: light dark;
	color: var(--color-gray-100);
	background-color: var(--color-gray-900);
}

@media (prefers-color-scheme: light) {
	:root {
		color: var(--color-gray-700);
		background-color: var(--color-white);
	}
}
